<!DOCTYPE html>
<html>
  <head>
    <title>Calculator Clt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>

    <div class="copyright">
      © 2025 CLT Salary Calculator - Livan Passos
    </div>

    <div class="footer-buttons">
      <a href="https://www.linkedin.com/in/livanpassos" target="_blank" class="linkedin-button">Linkedin</a>
      <a href="https://github.com/livansena/calculator-clt" target="_blank" class="github-button">Github</a>
    </div>

  </body>
</html>
